<div class="section banner banner-home bg-blue">
  <div class="overlay overlay-1"></div>
  <div class="overlay overlay-2"></div>
  <div class="overlay overlay-3"></div>

  <div class="container overlay">
    <div class="content flex-row">
      <div class="left-part align-items-center">
        <div>
          <h1 class="title font-maven-pro color-white" [@animate]="{value:'*',params:{duration:'500ms', y:'100%'}}">Your gateway into crypto</h1>
          <h3 class="description font-maven-pro color-white" [@animate]="{value:'*',params:{duration:'500ms', delay:'300ms', y:'100%'}}">A simpler, cleaner, and sleeker entry point into the blockchain economy.</h3>
          <a href="https://play.google.com/store/apps/details?id=network.pyxis" class="btn btn-info btn-round download" [@animate]="{value:'*',params:{duration:'500ms', delay:'500ms', y:'100%'}}">
            <i class="material-icons">android</i>Download
            <div class="ripple-container"></div>
          </a>
        </div>
      </div>

      <div class="right-part text-center">
        <div class="image-container image-container-01 align-items-center">
          <img src="./assets/image/home/01.png" [@animate]="{value:'*',params:{duration:'500ms',delay:'300ms',scale:'0.6'}}"/>
        </div>

        <div class="image-container image-container-02 align-items-center">
          <img src="./assets/image/home/02.png" [@animate]="{value:'*',params:{duration:'800ms',delay:'500ms',scale:'0.8'}}"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clip clip-1"></div>