<div class="section section-03 bg-blue">
  <div class="container">
    <div class="content  align-items-center">
      <div class="content-part">
        <div class="mark align-items-center justify-content-center bg-white" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'0ms'}}">
          <img src="./assets/image/mark/mark03.svg" />
        </div>
        <h1 class="title font-maven-pro color-white" [@animateForText]="{value:state,params:{duration:'500ms', delay:'100ms'}}">Our Vision</h1>
        <p class="description font-maven-pro color-white" [@animateForText]="{value:state,params:{duration:'500ms', delay:'350ms'}}">Just because it’s called “crypto”-currency doesn’t mean it needs to be incomprehensible. Our team believes that
          the world needs a cleaner and simpler gateway into the world of blockchain.</p>
        <p class="description font-maven-pro color-white" [@animateForText]="{value:state,params:{duration:'500ms', delay:'600ms'}}">Pyxis isn’t just the simplest and sleekest crypto wallet on the market. It’s the easiest entry point for tech-savvy
          individuals ready to explore the potential of the blockchain economy. Pyxis educates you and equips you to
          do so safely and responsibly.</p>
        <button class="btn btn-info btn-round receive-email-updates" [@animateForText]="{value:state,params:{duration:'500ms', delay:'800ms'}}">
          Receive Email Updates
          <div class="ripple-container"></div>
        </button>
      </div>

      <div class="image-part">
        <div class="update-cards">
          <div class="left-col align-items-center justify-content-center">
            <div class="update-card" style="order: 1" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'50ms'}}">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 1: ChainHop®</h5>
              </div>
              <div class="main">
                <p class="card-content">Pyxis’ proprietary ChainHop® technology provides an unprecedented level of security and anonymity to
                  user transactions by combining the unique properties of multiple different blockchains.</p>
              </div>
            </div>

            <div class="update-card" style="order: 3" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'450ms'}}">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 3: SegWit Integration</h5>
              </div>
              <div class="main">
                <p class="card-content">Features of the Segregated Witness soft-fork improve the security and efficiency of Bitcoin transactions.
                  SegWit allows for increases in onchain capacity and improves the scalability of the overall network.</p>
              </div>
            </div>

            <div class="update-card" style="order: 5" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'850ms'}}">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 5: Dividend Room</h5>
              </div>
              <div class="main">
                <p class="card-content">As Bitcoin forks continue to occur and generate new powerful tools and applications, Pyxis developers
                  are working hard to make each subsequent fork as natural an evolution for you as they are for the developers
                  creating them. Simply put, when a fork occurs the new coins and their functionality come to you.</p>
              </div>
            </div>

            <div class="update-card hidden-md-up" style="order: 2">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 2: Monero Wallet</h5>
              </div>
              <div class="main">
                <p class="card-content">Pyxis is excited to be rolling out wallet support for Monero, a leading cryptocurrency emphasizing security
                  and privacy.</p>
              </div>
            </div>

            <div class="update-card hidden-md-up" style="order: 4">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 4: Purchasing Bitcoin</h5>
              </div>
              <div class="main">
                <p class="card-content">While the initial release of Pyxis relies on established and trustworthy exchanges for the purchase of
                  Bitcoin, integrating that capability into the Pyxis application will streamline our user experience
                  and pave the way for more power features.</p>
              </div>
            </div>
          </div>

          <div class="right-col align-items-center justify-content-center hidden-sm-down">
            <div class="update-card" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'250ms'}}">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 2: Monero Wallet</h5>
              </div>
              <div class="main">
                <p class="card-content">Pyxis is excited to be rolling out wallet support for Monero, a leading cryptocurrency emphasizing security
                  and privacy.</p>
              </div>
            </div>

            <div class="update-card" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'650ms'}}">
              <div class="header">
                <h5 class="card-title font-maven-pro color-white">Update 4: Purchasing Bitcoin</h5>
              </div>
              <div class="main">
                <p class="card-content">While the initial release of Pyxis relies on established and trustworthy exchanges for the purchase of
                  Bitcoin, integrating that capability into the Pyxis application will streamline our user experience
                  and pave the way for more power features.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>