<div class="section section-bigger-picture">
  <div class="container">
    <div class="content-part">
      <h1 class="title" [@animateForText]="{value:state,params:{duration:'500ms', delay:'100ms'}}">The Bigger Picture</h1>
      <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'350ms'}}">A crypto wallet is only one piece of a larger puzzle. Pyxis won’t stop here. Our mission is to prepare our users
        for a blockchain-driven future. As blockchain becomes integrated into our economy and more relevant to our lives,
        Pyxis will equip you with new tools to avoid risks and seize opportunities.</p>
    </div>
  </div>
</div>