<div class="section section-04">
  <div class="container">
    <div class="content align-items-center">
      <div class="image-part">
        <div class="team">
          <div class="member member-01">
            <img src="./assets/image/team/aidan_mcvea.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'1200ms'}}"/>
          </div>

          <div class="member member-02">
            <img src="./assets/image/team/ronaldo_rigoni.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'600ms'}}"/>
          </div>

          <div class="member member-03">
            <img src="./assets/image/team/pei_mingxing.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'600ms'}}"/>
          </div>

          <div class="member member-04">
            <img src="./assets/image/team/bekah_ang.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'300ms'}}"/>
          </div>

          <div class="member member-05">
            <img src="./assets/image/team/nina_fujioka.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'900ms'}}"/>
          </div>

          <div class="member member-06">
            <img src="./assets/image/team/brian_godsey.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'1500ms'}}"/>
          </div>

          <div class="member member-07">
            <img src="./assets/image/team/marcel_renaud.png" class="avatar"  [@animateForImage]="{value:state,params:{duration:'400ms', delay:'600ms'}}"/>
          </div>
        </div>
      </div>

      <div class="content-part">
        <h1 class="title" [@animateForText]="{value:state,params:{duration:'500ms', delay:'100ms'}}">Meet our team</h1>
        <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'350ms'}}">Pyxis was designed by normal people for normal people. You shouldn’t have to be a tech-wizard or a financial
          savant to confidently explore the world of blockchain.</p>
        <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'600ms'}}">Our small close-knit team hails from all corners of the globe: the United States, Brazil, Uruguay, China, and
          Canada. The diversity of our team reflects our conviction that the benefits of blockchain can be and should
          be for everyone.</p>
      </div>
    </div>
  </div>
</div>

<div class="clip clip-3"></div>