.banner-search {
  padding: 39px 0 21px 0;
  @media (max-width: 767px) {
    padding-top: 15px;
  }
  .container {
    @media (min-width: 1201px) {
      padding-right: 30px;      
    }
  }
  .title {
    font-size: 28px;
    font-weight: 100;
    text-align: center;
    margin-bottom: 34px;
    @media (max-width: 767px) {
      font-size: 24px;
    }
    @media (max-width: 480px) {
      max-width: 240px;
      margin-left: auto;  
      margin-right: auto;
    }
  }
  .search-form {
    background-color: white;
    border: 1px solid #979797;
    border-radius: 10px;
    display: flex;
    font-family: "Maven Pro";
    font-size: 24px;
    color: rgba(0, 0, 0, 0.54);
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;    
    .material-icons {
      font-size: 40px;
      margin: auto 19px auto 21px;
      @media (max-width: 767px) {
        font-size: 26px;
        margin: auto 6px auto 12px;
      }
    }
    .search-text {
      margin-top: 24px;
      margin-bottom: 24px;
      border: none;
      width: 100%;
      padding-right: 24px;
      @media (min-width: 768px) and (max-width: 1200px) {
        font-size: 23px;
        margin-top: 16px;
        margin-bottom: 17px;
      }
      @media (max-width: 767px) {
        font-size: 16px;
        margin-top: 8px;
        margin-bottom: 10px;
      }
    }
  }
}