<div class="section section-01">
  <div class="container">
    <div class="content  align-items-center">
      <div class="content-part">
        <div class="mark align-items-center justify-content-center bg-white" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'0ms'}}">
          <img src="./assets/image/mark/mark01.svg" />
        </div>
        <h1 class="title" [@animateForText]="{value:state,params:{duration:'500ms', delay:'100ms'}}">Demystifying Cryptocurrency.</h1>
        <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'350ms'}}">Do you read about cryptocurrency in the news but ask "How is this relevant to me?"</p>
        <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'600ms'}}">Pyxis was developed for curious people who learn best by doing. We ensure you're not missing out with the confidence
          you're not messing up.</p>
      </div>

      <div class="image-part">
        <div class="advantages">
          <div class="advantage advantage-reliable align-items-center justify-content-center" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'450ms'}}">
            <div class="text-center">
              <i class="material-icons">my_location</i>
              <h5 class="advantage-title font-maven-pro">Reliable</h5>
            </div>
          </div>

          <div class="advantage advantage-secure align-items-center justify-content-center" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'50ms'}}">
            <div class="text-center">
              <i class="material-icons">lock</i>
              <h5 class="advantage-title font-maven-pro">Secure</h5>
            </div>
          </div>

          <div class="advantage advantage-safe align-items-center justify-content-center" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'850ms'}}">
            <div class="text-center">
              <i class="material-icons">tag_faces</i>
              <h5 class="advantage-title font-maven-pro">Safe</h5>
            </div>
          </div>

          <div class="advantage advantage-support align-items-center justify-content-center" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'250ms'}}">
            <div class="text-center">
              <i class="material-icons">people</i>
              <h5 class="advantage-title font-maven-pro">A+ support</h5>
            </div>
          </div>

          <div class="advantage advantage-simple align-items-center justify-content-center" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'650ms'}}">
            <div class="text-center">
              <i class="symbol material-icons">alarm</i>
              <h5 class="advantage-title font-maven-pro">Super simple</h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="clip clip-2"></div>