<div class="main">
  <app-banner-about-us></app-banner-about-us>

  <div class="section section-legal">
    <div class="container">
      
      <p class="description">This Privacy Policy explains how information about you is collected, used and disclosed by Pyxis, LLC (“Pyxis”, “we”, “our” or “us”). This Privacy Policy (together with our Terms of Service and any other documents referred to therein or herein) applies to information we collect when you use our websites, mobile applications and other platforms using our services (collectively, the “Software”) or when you otherwise interact with us.</p>
      <p class="description">Pyxis reserves the right to change or modify this Privacy Policy at any time and in our sole discretion. If we make changes to the Privacy Policy, we will provide notice of such changes by sending an email notification, providing notice through the Software or updating the “Last Updated” date at the bottom of this page. We encourage you to review the Privacy Policy whenever you access the Software to stay informed about our information practices and the ways you can help protect your privacy.</p>
      <p class="description">By using our Software you acknowledge and accept the terms of this Privacy Policy, and thereby giving Pyxis consent to the collection, use, and disclosure of your personal information as described below. If you do not agree with or you are not comfortable with any aspect of this Privacy Policy, you should immediately discontinue the use of our Software.</p>



      
      <h1 class="title">1. Definitions</h1>

      <p class="description">
        “Personal Data” is defined as data that provides information to identify and  to contact you. Examples include:<br>
        (a) name;<br>
        (b) mailing address;<br>
        (c) telephone number;<br>
        (d) e-mail address; and<br>
        (e) other non-public information about or associated with your Personal Data.<br>
      </p>
      <p class="description">
        “Anonymous Data” is defined as data which provide non-identifying information that does not, on its own, permit the identification of an individual. Examples include:<br>
        (a) IP address;<br>
        (b) browser;<br>
        (c) device used to access our Software;<br>
        (d) operating system; and<br>
        (e) other Anonymous Data that may be public or non-identifying information collected automatically using our Software.<br>
      </p>



      
      <h1 class="title">2. Information You Provide Pyxis</h1>
      
      <p class="description">We collect Personal Data you provide directly to us. For example, we collect information when you create an account, participate in any interactive features of the Software, fill out a form, complete a transaction via the Software, request customer support or otherwise communicate with us. Additional types of Personal Data we may also collect include email and mailing addresses, date of birth, government issued identification, photographs, biometric information (including but not limited to device fingerprinting), social network profiles and account password.</p>



      
      <h1 class="title">3. Information Pyxis Collects From You</h1>

      <p class="description">Each use of our Software will provide us with technical information and Anonymous Data including your browser type, operating system, Internet Protocol (“IP”) address, Internet Service Providers (“ISP”), domain name, and/or a date/time stamp for your visit.</p>



      
      <h1 class="title">4. How the Information Is Used By Pyxis</h1>

      <p class="description">
        Personal Data collected by our Software is used in the following ways:<br>
        (a) for the creation and security of your account;<br>
        (b) for identity verification;<br>
        (c) to maintain and support the administration of our Software;<br>
        (d) to identify, report  and investigate potentially fraudulent, illegal activity and/ or any violation of our Terms;<br>
        (e) to comply with legal obligations and regulatory requirements;<br>
        (f) to process transactions and contact you regarding your transactions; and<br>
        (g) to communicate with you regarding your experience and provide support for your account.<br>
      </p>
      <p class="description">Pyxis is committed to providing an exceptional Software. The collection of your data will assist us in optimizing your experience while continuing to enhance security features. We will not use your Personal Data for purposes other than those purposes we have disclosed to you, without your permission. We may, from time to time, request your permission to allow us to share your Personal Data with third parties. You may opt out of having you Personal Data shared with third parties, or from allowing us to use your Personal Data for any purpose that is incompatible with the purposes for which we originally collected it or subsequently obtained your authorization.</p>
      <p class="description">
        Anonymous Data collected will be used to improve our Software in the following ways:<br>
        (a) the IP address is used to assist in identify verification along with Software accessibility;<br>
        (b) recognize patterns and trends to support our users needs within our Software; and<br>
        (c) store and maintain record logs for demographic information along with user patterns to help provide a better user experience.<br>
        Pyxis may utilize both session and persistent cookies to collect user interests and interactions. These cookies are small data files that record Anonymous Data to help us provide a more personalized user experience.<br>
      </p>
      <p class="description">We reserve the right to use Anonymous Data and other de-identified information for any purpose we deem necessary. Pyxis also reserves the right to disclose Anonymous Data to third parties in our sole discretion.</p>



      
      <h1 class="title">5. Information Shared with Third-Party Sources</h1>

      <p class="description">
        We may disclose your Personal Data as described below:<br>
        (a) It may be necessary to disclose your information to comply with any law, subpoenas, court orders, or government request, defend against claims, investigate or bring legal action against illegal or suspected illegal activities, enforce our Terms, or to protect the rights, safety, and security of Pyxis, our users, or the public.<br>
        (b) We may share your Personal Data with third party service providers to provide you with the Services that we offer you through our Software; to conduct quality assurance testing; to facilitate creation of accounts; to provide technical support; to verify your identity; and/or to provide other services. These third party service providers are required not to use your Personal Data other than to provide the services requested by Pyxis.<br>
        (c) We may share some or all of your Personal Data in connection with or during negotiation of any merger, financing, acquisition or dissolution transaction or proceeding involving sale, transfer, divestiture, or disclosure of all or a portion of our business or assets. In the event of an insolvency, bankruptcy, or receivership, Personal Data may also be transferred as a business asset. If another company acquires Pyxis, that company will possess the Personal Data collected by us and will assume the rights and obligations regarding your Personal Data as described in this Privacy Policy.<br>
      </p>
      <p class="description">Pyxis may contain links to other third party websites which are regulated by their own privacy policies. Pyxis is not responsible for the privacy policies of these third party websites even if they were accessed using the links from our site.</p>
      <p class="description">Other than as stated in this Privacy Policy, Pyxis does not disclose any of you Personal Data to third parties unless required to do so by law enforcement, court order, or in compliance with legal reporting obligations.</p>



      
      <h1 class="title">6. Security of Your Information</h1>

      <p class="description">Pyxis uses an industry-standard data encryption technology and have implemented restrictions related to the storage of and the ability to access your Personal Data.</p>
      <p class="description">Please note that transmissions over the Internet or method of electronic storage cannot be guaranteed to be 100% secure.</p>



      
      <h1 class="title">7. How Long We Retain Your Information</h1>

      <p class="description">Pyxis will retain your Data for as long as your Account has not been closed or as needed to provide you access to your Account. If you wish to close your Account, please contact our support center. We will retain and use your Data as necessary to comply with our legal obligations, resolve disputes, and enforce our Terms.</p>



      
      <h1 class="title">8. Contact Us</h1>

      <p class="description">If you have any questions regarding our Privacy Policy, you may contact our legal department by sending an email to: <a class="color-blue" href="mailto:info@pyxis.com">info@pyxis.com</a>, ATTN: Legal.</p>
    </div>
  </div>
</div>

<app-footer-dark></app-footer-dark>