<div class="section section-02 bg-gray">
  <div class="container">
    <div class="content  align-items-center">
      <div class="image-part">
        <img src="./assets/image/home/03.png" class="section-image" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'0ms'}}" />
      </div>

      <div class="content-part">
        <div class="mark align-items-center justify-content-center bg-white" [@animateForImage]="{value:state,params:{duration:'500ms', delay:'0ms'}}">
          <img src="./assets/image/mark/mark02.svg" />
        </div>
        <h1 class="title" [@animateForText]="{value:state,params:{duration:'500ms', delay:'100ms'}}">Private and Secure</h1>
        <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'350ms'}}">Create a PIN or use your fingerprint for secure access to your funds. Your Pyxis-provided Paper Key ensures
          you will always have access to your account even if your device is stolen.</p>
        <p class="description" [@animateForText]="{value:state,params:{duration:'500ms', delay:'600ms'}}">Most importantly, we don't store any of your financial imformation on our servers. We never control your funds
          or monitor your transactions. Pyxis empowers you by giving you direct access to cryptocurrency networks.</p>
      </div>
    </div>
  </div>
</div>