<footer class="section light-footer">
  <div class="container">
    <h1 class="title" [@animateForImage]="{value:state,params:{duration:'400ms', delay:'100ms'}}">Not find what you're looking for?</h1>
    <p class="description" [@animateForImage]="{value:state,params:{duration:'400ms', delay:'300ms'}}">Send us an email, we'll be sure to get back to you!</p>
    <a href="mailto:help@pyxis.network" class="btn btn-send-email" [@animateForImage]="{value:state,params:{duration:'400ms', delay:'500ms'}}">
      <i class="material-icons">mail</i>Send us an email</a>
  </div>
</footer>