.banner-about-us {
  display: flex;
  align-items: center;
  height: 504px;
  padding-top: 30px;  
  @media (min-width: 768px) and (max-width: 1200px) {
    height: 300px;
  }
  @media (max-width: 767px) {
    height: 160px;
    padding-top: 10px;
  }
  .container {
    @media (min-width: 1201px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  .title {
    font-size: 54px;
    margin-bottom: 30px;
    margin-top: 24px;
    font-weight: 400;
    text-align: center;
    @media (min-width: 768px) and (max-width: 1200px) {
      font-size: 41px;
      margin-bottom: 20px;
    }
    @media (max-width: 767px) {
      font-size: 32px;
      margin-bottom: 15px;
    }
  }
  .description {
    font-size: 28px;
    text-align: center;
    @media (min-width: 1201px) {
      margin-top: 36px;
    }    
    @media (min-width: 768px) and (max-width: 991px) {
      font-size: 20px;
    }
    @media (max-width: 767px) {
      font-size: 16px;
      margin-left: auto;
      margin-right: auto;
    }
    @media (max-width: 480px) {
      max-width: 240px;
    }
  }
}